.navigation {
  align-items: center;
  display: flex;

  .navigation-search {
    display: flex;
    align-items: center;

    .navigation-search-warning {
      color: #fff;
      font-size: 20px;
      margin-right: 10px;
    }

    input {
      background: #00000080;
      border-radius: 6px;  
      border: 2px solid #fff;
      color: #fff;
      font-size: 20px;
      height: 26px;
      padding: 0px 10px;
    }
  }

  .navigation-buttons {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    padding: 20px;
    user-select: none;
  }
}
