body {
  cursor: default;
  margin: 0px;
  overflow: hidden;
}

#app {
  @import './components/Loading/styles.less';
  @import './components/Main/styles.less';
  @import './components/Navigation/styles.less';
}
