body {
  background-color: black;
  overflow: hidden;
  margin: 0px;
}
// .app {
//   background: url(https://farm7.staticflickr.com/6154/6202343476_881f579ecf_o.jpg);
// }
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(https://farm7.staticflickr.com/6154/6202343476_881f579ecf_o.jpg);

  img {
    height: 100%;
  }
}